*{
    background-image: url('https://plus.unsplash.com/premium_photo-1670179693482-5eccd219c799?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjl8fG1vYmlsZSUyMHBob25lJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
    
}
h1{
    text-align:center;    
}
.one{
    font-style: oblique;
}
.two{
    font-weight:normal;
}
