html{
    background:lightgray;
    font-size:large
}
h1{    
    background:rgba(94, 94, 94, 0.089);
    text-align:center;
    color:black;
}
.one{
    text-align: left;
    color:rgba(10, 10, 10, 0.845);
    margin-left:7%;
    
}
.summary{
    text-align: left;
    color:rgb(0, 0, 0);
    font-family: garamond,serif;
    font-style: oblique;
    font-size:x-large;
    margin-left:10%;
    margin-right:10%;
}
.pic{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50;
}
.education{
    font-style:oblique;
    margin-left:10%;
    margin-right:10%;
}
*{
    background-image: url('https://plus.unsplash.com/premium_photo-1670179693482-5eccd219c799?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjl8fG1vYmlsZSUyMHBob25lJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
}
.skills{
    margin-left:10%;
    font-style:oblique;
}
.link{
    font-style: oblique;
    margin-left:auto;
    margin-right:auto;
}
